@import "src/variables";

.header {
  background-color: $accent-color;
  color: $text-light-secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  position: sticky;
  top: 0;
  z-index: 5;

  > h1 {
    color: $text-light-title;
  }
}
