@import "src/variables";

.gameDifficulty {
  background-color: $base-color-dark;
  flex-grow: 1;
  padding: 25px;
  text-align: center;

  > h4 {
    color: $text-light-title;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1.55em;
  }
}

@mixin btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  margin: 10px;
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.difficultyBtn {
  @include btn;

  background-color: $main;
  color: $text-light-title;
  box-shadow: 1px 1px 3px 1px $accent-color;
}

.choiсeBtn {
  @include btn;

  background-color: $secondary;
  color: $text-dark-title;
  box-shadow: 1px 1px 3px 1px $accent-color;
}

.difficultyImg {
  height: 100px;
  margin: 20px;
}
