@import "src/variables";

.footer {
  padding: 10px 25px;
  background-color: $accent-color;
  height: 40px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  text-align: right;
  z-index: 5;

  > a {
    color: $text-dark-regular;
    cursor: pointer;
    text-decoration: none;
  }
}
