.card {
  width: 115px;
  height: 140px;
  margin: 5px;
  border-radius: 12px;
  box-sizing: border-box;
  background-color: #c2c2c2;
  user-select: none;
  overflow: hidden;
  position: relative;

  > img {
    width: 100%;
    height: auto;
  }

  > p {
    position: absolute;
    width: 100%;
    bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}
